
/* Importacion de iconos de FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

/* Tipografia Playfair Display para titulos , subtitulos y botones */

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Tipografia Lora para parrafos */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');


button,
input{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
label,
textarea{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.appBase{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

:root {
    
    --blue: #ffffff;
    --principal: #FEC87B;
    --texto: #333333;
    --fondo: #EBEBEB;
    --secundario1: #E54D3F;
    --secundario2: #0087DD;
    --secundario3: #FFB408;
    --transparente1: rgba(255, 255, 255, 0);
    --transparent: #000000;
    --transparente: rgba(255, 255, 255, 0.103);
    --black: #000000;
    --white: #FFF;
    --light-color: #878585;
    --light-bg: #f4f4f4;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .3);
}
p{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
 
}
h1, h2, h3, h4, h5, h6{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}
a{
    font-weight: 700;
  font-style: normal;
}

html {
    background-image: url(./img/fondo.webp);
    background-size: cover;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}


html, body {
    

    margin: 0;
    /* Elimina el margen por defecto del body */
    padding: 0;
    /* Elimina el padding por defecto del body */
    height: 100vh;
    /* Asegura que el body ocupe toda la altura de la ventana */
    

}


